.text {
  font-size: 15px;
  color: #909399;
  line-height: 1.1;
  transition: color 200ms;
}

.text:hover {
  color: #606266;
}

.toolbar>* {
  cursor: pointer;
  display: inline-block;
  padding: 5px 7px;
  font-size: 14px;
  color: #c0c4cc;
  transition: color 200ms;
}

.toolbar>*:hover {
  color: #409eff;
}
